<h1>Update the content</h1>

<form action="/admin" method="post">
Open Statement:
  <input type="text" name="opening_statement" id="" placeholder="text"> <br>
  Information about Ling: 
  <input type="text" name="info_ling" id="" placeholder="text"> <br>
  Closing Statement:
  <input type="text" name="closing_statement" id="" placeholder="text"><br>

  <input type="submit" value="Update">
</form>