<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">
  <title>LING page</title>
</head>

<body>
  <!-- SHOWCASE -->
  <section class="section showcase">
    <div class="container">
      <div class="row">
        
          <h4 class="showcase-heading">

<% ling=Ling.last %>

<%= ling.opening_statement %><br />

          </h4>
        
        </div>
    
        <div class="hero">
        <br>
        <br>
        <img src="image/logo.png" alt="">
        <br>
        <h3>I am the Leader of the Pack </h3>
    <h5><%= ling.info_ling %></h5><br />
      </div>
      <br>
<h4><%= ling.closing_statement %></h4>
    
  </section>

  <!-- SECTION -->
  <section class="section section-a">
    <div class="container">
      <div class="row">
        <div class="one-third column">
        <img src = "image/vbig_car_1.jpg" >
          <h5>some text here </h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, et?</p>
        </div>
        <div class="one-third column">
        <img src = "image/vbig_car_2.jpg" >
          <h5>some text here too </h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, et?</p>
        </div>
        <div class="one-third column">
         <img src = "image/vbig_car_3.jpg" >
          <h5>more nonsense why not!</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, et?</p>
        </div>
      </div>
    </div>
  </section>

  <br> 
<section class="footer">
<div class="container">
      <div class="row">
          <div class="center-text ">
            <img src="image/Awards.png" alt="">
            </div>
            <div class="right-text ">
            <p> LING the Alpha pack, has no awards!! </p>
           </div>
         </div>
       </div>
   </section>


</body>
</html>



    
    
 











  