
 <div class="hero">
</div>

<span class="card-title">
  <div class="center-text"> <p> Some Car </p> </div>   
</span>
<div class="card-image">
 <img src = "image/vbig_car_1.jpg" >
   <div class="center-text ">
      <p> Some text here  </p>
   </div>
  </div>

  <br>
  <span class="card-title">
  <div class="center-text"> <p> Some Car </p> </div>   
</span>
<div class="card-image">
 <img src = "image/vbig_car_2.jpg" >
   <div class="center-text ">
      <p> Some text here  </p>
   </div>
  </div>

<br>
  <span class="card-title">
  <div class="center-text"> <p> Some Car </p> </div>   
</span>
<div class="card-image">
 <img src = "image/vbig_car_3.jpg" >
   <div class="center-text ">
      <p> Some text here  </p>
   </div>
  </div>

<br> 

<div class="center-text ">
      <p> AWARDS </p>
   </div>
   <div class="center-text ">
      <p> LING has none  </p>
   </div>


   