<h5>Welcome aboard to this journey, My webpage is lit</h5>
<br>
<br>
<div class="form">
<form action="/signup" method="post">
<h6>Username:</h6>
  <input type="text" name="username" id="" placeholder="Username">
  <h6>Password:</h6>
  <input type="password" name="password" id="" placeholder="Password">
  <input type="submit" value="Go!">
</form>
</div>
